.Header {
  width: 100%;
  background-color: #32385f;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  max-width: 1250px;

  padding-inline: 1rem;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 3.6rem;
  text-transform: uppercase;
  font-style: italic;
}

.cart-icon {
  font-size: 3.6rem;
}

.cart-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;

  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  
  background-color: #474f8c;
  transition: 1s;
  transform: translateX(50vw);
}

.expanded-cart {
  transform: none;
}

.cart-btn {
  padding-top: 1rem 2rem;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 2rem;
}

.close-btn {
  font-size: 3.6rem;
  position: absolute;
  top: 2rem;
  right: 3rem;
}

.cart-productos {
  
}