.Buscador {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buscador {
  font-size: 1.8rem;
  font-weight: normal;
  padding: 0.4rem 0.6rem;
  
  width: 60%;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
}

.buscador:focus {
  outline: 1px solid white;
}

.desk-buscador {
  width: 100%;
}

@media (max-width: 615px) {
  .desk-buscador {
    display: none;
  }

  .buscador {
    font-size: 1.4rem;
    width: 80%;
    color: #646b99;
    border: 1px solid #32385f;
    background-color: rgb(231, 231, 231);
  }

  .buscador:focus {
    outline: 1px solid #32385f;
  }
}
