.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.lista-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-width: 1250px;
}

.mobile-buscador {
  display: none;
}

@media (max-width: 615px) {
  .App {
    gap: 1rem;
  }
  .mobile-buscador {
    display: block;
  }
}